
<h3> Take a look at some of this juicy goosie!!!</h3>
<table>
    <th>
        <tr>
            <td> Secret </td>
            <td> Action </td>
            <td>        </td>
            <td> Number of Likes</td>
        </tr>
    </th>
    <tr>
    <% @secrets.each do |secret| %> 
<td> <%= secret.content %> </td>
        <% if secret.user_id == session[:user_id] %>
            <td> <a href="/secrets/<%=secret.id %>" data-method= "delete"> Delete</a></td>
<td> <a href="/likes/<%=secret.id %>" data-method ="delete"> Unlike </td>        
        <% elsif @secrets_liked_ids.include? secret.id %>
<td> <a href="/likes/<%=secret.id %>" data-method ="delete"> Unlike </td>
        <% elsif %>
<!--           <td> <a href="/likes/<%=secret.id %>" input type = "hidden" name="_method" value="delete "> Unlike </a></td>-->
<td> <a href="/likes/<%=secret.id %>" method="post"> Like </a></td>        
        <% end %>
        
        <td> </td>
        <td> <%= secret.likes.length %> Like<%="s" if secret.likes.length !=1 %> </td>
    </tr>
    
    <% end %>
</table>

<a href="/users/<%=session[:user_id] %>" class="profile"> My Profile </a>
<a href="/sessions" data-method="delete" class="logout"> Logout</a>